<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="info.ilong.oms.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="info.ilong.oms.pojo.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="DATE" />
    <result column="bailor" property="bailor" jdbcType="VARCHAR" />
    <result column="schedule" property="schedule" jdbcType="VARCHAR" />
    <result column="sum_money" property="sumMoney" jdbcType="INTEGER" />
    <result column="require_date" property="requireDate" jdbcType="DATE" />
    <result column="compete_date" property="competeDate" jdbcType="DATE" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="files" property="files" jdbcType="VARCHAR" />
    <result column="cus_name" property="cusName" jdbcType="VARCHAR" />
    <result column="cus_company" property="cusCompany" jdbcType="VARCHAR" />
    <result column="cus_address" property="cusAddress" jdbcType="VARCHAR" />
    <result column="cus_phone" property="cusPhone" jdbcType="VARCHAR" />
    <result column="cus_desc" property="cusDesc" jdbcType="VARCHAR" />
    <result column="express_info" property="expressInfo" jdbcType="VARCHAR" />
    <result column="express_date" property="expressDate" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, order_id, create_date, bailor, schedule, sum_money, require_date, compete_date, 
    type, state, image, files, cus_name, cus_company, cus_address, cus_phone, cus_desc, 
    express_info, express_date, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="info.ilong.oms.pojo.OrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="info.ilong.oms.pojo.OrderExample" >
    delete from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="info.ilong.oms.pojo.Order" >
    insert into t_order (id, title, order_id, 
      create_date, bailor, schedule, 
      sum_money, require_date, compete_date, 
      type, state, image, 
      files, cus_name, cus_company, 
      cus_address, cus_phone, cus_desc, 
      express_info, express_date, remark
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=DATE}, #{bailor,jdbcType=VARCHAR}, #{schedule,jdbcType=VARCHAR}, 
      #{sumMoney,jdbcType=INTEGER}, #{requireDate,jdbcType=DATE}, #{competeDate,jdbcType=DATE}, 
      #{type,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{files,jdbcType=VARCHAR}, #{cusName,jdbcType=VARCHAR}, #{cusCompany,jdbcType=VARCHAR}, 
      #{cusAddress,jdbcType=VARCHAR}, #{cusPhone,jdbcType=VARCHAR}, #{cusDesc,jdbcType=VARCHAR}, 
      #{expressInfo,jdbcType=VARCHAR}, #{expressDate,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="info.ilong.oms.pojo.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="bailor != null" >
        bailor,
      </if>
      <if test="schedule != null" >
        schedule,
      </if>
      <if test="sumMoney != null" >
        sum_money,
      </if>
      <if test="requireDate != null" >
        require_date,
      </if>
      <if test="competeDate != null" >
        compete_date,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="files != null" >
        files,
      </if>
      <if test="cusName != null" >
        cus_name,
      </if>
      <if test="cusCompany != null" >
        cus_company,
      </if>
      <if test="cusAddress != null" >
        cus_address,
      </if>
      <if test="cusPhone != null" >
        cus_phone,
      </if>
      <if test="cusDesc != null" >
        cus_desc,
      </if>
      <if test="expressInfo != null" >
        express_info,
      </if>
      <if test="expressDate != null" >
        express_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="bailor != null" >
        #{bailor,jdbcType=VARCHAR},
      </if>
      <if test="schedule != null" >
        #{schedule,jdbcType=VARCHAR},
      </if>
      <if test="sumMoney != null" >
        #{sumMoney,jdbcType=INTEGER},
      </if>
      <if test="requireDate != null" >
        #{requireDate,jdbcType=DATE},
      </if>
      <if test="competeDate != null" >
        #{competeDate,jdbcType=DATE},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="files != null" >
        #{files,jdbcType=VARCHAR},
      </if>
      <if test="cusName != null" >
        #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="cusCompany != null" >
        #{cusCompany,jdbcType=VARCHAR},
      </if>
      <if test="cusAddress != null" >
        #{cusAddress,jdbcType=VARCHAR},
      </if>
      <if test="cusPhone != null" >
        #{cusPhone,jdbcType=VARCHAR},
      </if>
      <if test="cusDesc != null" >
        #{cusDesc,jdbcType=VARCHAR},
      </if>
      <if test="expressInfo != null" >
        #{expressInfo,jdbcType=VARCHAR},
      </if>
      <if test="expressDate != null" >
        #{expressDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="info.ilong.oms.pojo.OrderExample" resultType="java.lang.Integer" >
    select count(*) from t_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=DATE},
      </if>
      <if test="record.bailor != null" >
        bailor = #{record.bailor,jdbcType=VARCHAR},
      </if>
      <if test="record.schedule != null" >
        schedule = #{record.schedule,jdbcType=VARCHAR},
      </if>
      <if test="record.sumMoney != null" >
        sum_money = #{record.sumMoney,jdbcType=INTEGER},
      </if>
      <if test="record.requireDate != null" >
        require_date = #{record.requireDate,jdbcType=DATE},
      </if>
      <if test="record.competeDate != null" >
        compete_date = #{record.competeDate,jdbcType=DATE},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.files != null" >
        files = #{record.files,jdbcType=VARCHAR},
      </if>
      <if test="record.cusName != null" >
        cus_name = #{record.cusName,jdbcType=VARCHAR},
      </if>
      <if test="record.cusCompany != null" >
        cus_company = #{record.cusCompany,jdbcType=VARCHAR},
      </if>
      <if test="record.cusAddress != null" >
        cus_address = #{record.cusAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cusPhone != null" >
        cus_phone = #{record.cusPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.cusDesc != null" >
        cus_desc = #{record.cusDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.expressInfo != null" >
        express_info = #{record.expressInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.expressDate != null" >
        express_date = #{record.expressDate,jdbcType=DATE},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_order
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=DATE},
      bailor = #{record.bailor,jdbcType=VARCHAR},
      schedule = #{record.schedule,jdbcType=VARCHAR},
      sum_money = #{record.sumMoney,jdbcType=INTEGER},
      require_date = #{record.requireDate,jdbcType=DATE},
      compete_date = #{record.competeDate,jdbcType=DATE},
      type = #{record.type,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      files = #{record.files,jdbcType=VARCHAR},
      cus_name = #{record.cusName,jdbcType=VARCHAR},
      cus_company = #{record.cusCompany,jdbcType=VARCHAR},
      cus_address = #{record.cusAddress,jdbcType=VARCHAR},
      cus_phone = #{record.cusPhone,jdbcType=VARCHAR},
      cus_desc = #{record.cusDesc,jdbcType=VARCHAR},
      express_info = #{record.expressInfo,jdbcType=VARCHAR},
      express_date = #{record.expressDate,jdbcType=DATE},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="info.ilong.oms.pojo.Order" >
    update t_order
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="bailor != null" >
        bailor = #{bailor,jdbcType=VARCHAR},
      </if>
      <if test="schedule != null" >
        schedule = #{schedule,jdbcType=VARCHAR},
      </if>
      <if test="sumMoney != null" >
        sum_money = #{sumMoney,jdbcType=INTEGER},
      </if>
      <if test="requireDate != null" >
        require_date = #{requireDate,jdbcType=DATE},
      </if>
      <if test="competeDate != null" >
        compete_date = #{competeDate,jdbcType=DATE},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="files != null" >
        files = #{files,jdbcType=VARCHAR},
      </if>
      <if test="cusName != null" >
        cus_name = #{cusName,jdbcType=VARCHAR},
      </if>
      <if test="cusCompany != null" >
        cus_company = #{cusCompany,jdbcType=VARCHAR},
      </if>
      <if test="cusAddress != null" >
        cus_address = #{cusAddress,jdbcType=VARCHAR},
      </if>
      <if test="cusPhone != null" >
        cus_phone = #{cusPhone,jdbcType=VARCHAR},
      </if>
      <if test="cusDesc != null" >
        cus_desc = #{cusDesc,jdbcType=VARCHAR},
      </if>
      <if test="expressInfo != null" >
        express_info = #{expressInfo,jdbcType=VARCHAR},
      </if>
      <if test="expressDate != null" >
        express_date = #{expressDate,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="info.ilong.oms.pojo.Order" >
    update t_order
    set title = #{title,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      bailor = #{bailor,jdbcType=VARCHAR},
      schedule = #{schedule,jdbcType=VARCHAR},
      sum_money = #{sumMoney,jdbcType=INTEGER},
      require_date = #{requireDate,jdbcType=DATE},
      compete_date = #{competeDate,jdbcType=DATE},
      type = #{type,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      files = #{files,jdbcType=VARCHAR},
      cus_name = #{cusName,jdbcType=VARCHAR},
      cus_company = #{cusCompany,jdbcType=VARCHAR},
      cus_address = #{cusAddress,jdbcType=VARCHAR},
      cus_phone = #{cusPhone,jdbcType=VARCHAR},
      cus_desc = #{cusDesc,jdbcType=VARCHAR},
      express_info = #{expressInfo,jdbcType=VARCHAR},
      express_date = #{expressDate,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>